<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire de don</title>
</head>
<body>
<h1>Tsinjo</h1>

<form th:action="@{/donate}" method="post">
    <label for="email">Email :</label><br/>
    <input type="email" id="email" name="email" required/><br/><br/>

    <label for="paymentMethod">Moyen de paiement :</label><br/>
    <input type="text" id="paymentMethod" name="paymentMethod" required/><br/><br/>

    <label for="paymentReference">Référence de paiement :</label><br/>
    <input type="text" id="paymentReference" name="paymentReference" required/><br/><br/>

    <button type="submit">Donner !</button>
</form>
<p th:if="${message}" th:text="${message}"></p>
<div>
    <h2>Historique</h2>
    <!-- Si la liste est vide -->
    <p th:if="${#lists.isEmpty(donations)}">Pas encore d'historique</p>
    <table th:if="${!#lists.isEmpty(donations)}" border="1">
        <thead>
        <tr>
            <th>Email</th>
            <th>Moyen de paiement</th>
            <th>Référence</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="don : ${donations}">
            <td th:text="${don.email}">Email</td>
            <td th:text="${don.paymentMethod}">Méthode</td>
            <td th:text="${don.paymentReference}">Référence</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
